.container {
    background-color: #f5f5dd;
    width: 350px;
    padding: 50px 20px 50px 20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color:black;
    margin-left: 120px;
    margin-bottom: 10px;
}

.two  {
    opacity: 0.7;
}

.thire {
    opacity: 0.4;
}

.four {
    opacity: 0.1;
}